<?xml version="1.0" ?>
<phpunit backupGlobals="false" processIsolation="true" colors="true">
    <testsuite name="Silex Manager tests">
        <directory>./tests/</directory>
    </testsuite>
    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src</directory>
        </whitelist>
    </filter>
</phpunit>
